In [9]:
import tweepy
import json
import pandas
from data_parser import *

In [120]:
access_token = "1085741390527692800-v73KoVugFbFTXOu3dkIIxqIYeVLnkt"
access_token_secret = "63mbPu6TZtE9gfsduUk546Va1ouV1PHfhH43pqPDRdRXj"
consumer_key = "gMnJKIu3seBg2ddk6khg49V5w"
consumer_secret = "ST42Rjo0d6MBqJYL2Wbba0o3sSdByN1Ds1D2F0tYoiZN5v1Nrx"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

#Obtains my info

me = api.me() #Hey it's a me! A Terry Hintz

In [168]:
from pandas.io.json import json_normalize # Normalize semi-structured JSON data into a flat table.

#We are going to select just this columns
cols = ["id","status"]
users = [me._json, me._json]
users_filtered = [{} for i in range(len(users))]

# for user in users:
#     for k in list(user.keys()):
#         if k not in cols:
#             del user[k]

for user_f,user in zip(users_filtered,users):
    for col in cols:
        user_f[col] = user[col]

In [176]:
df = json_normalize(users_filtered)

df

,id,status.created_at,status.id,status.id_str,status.text,status.truncated,status.entities.hashtags,status.entities.symbols,status.entities.user_mentions,status.entities.urls,...,status.geo,status.coordinates,status.place,status.contributors,status.is_quote_status,status.retweet_count,status.favorite_count,status.favorited,status.retweeted,status.lang
0,1085741390527692800,Tue Aug 06 01:56:58 +0000 2019,1158557544052379649,1158557544052379649,@EnCicla Se tiene alguna fecha prevista para a...,False,[],[],"[{'screen_name': 'EnCicla', 'name': 'EnCicla',...",[],...,None,None,None,None,False,0,2,False,False,es
1,1085741390527692800,Tue Aug 06 01:56:58 +0000 2019,1158557544052379649,1158557544052379649,@EnCicla Se tiene alguna fecha prevista para a...,False,[],[],"[{'screen_name': 'EnCicla', 'name': 'EnCicla',...",[],...,None,None,None,None,False,0,2,False,False,es